package ${project.serviceModuleConfig.packageName};

/**
 * Exception générique de la partie "services".
 * La rootCause de l'exception passée en paramètres est cherché systématiquement.
 */
public class ServiceException extends Exception
{
	private static final long serialVersionUID = 1L;
	
	public ServiceException(String message, Throwable cause) {
		super(message, getCause(cause));
	}

	public ServiceException(String message) {
		super(message);
	}

	private static Throwable getCause(Throwable cause) {
		while (cause.getCause() != null) {
			cause = cause.getCause();
		}
		return cause;
	}
}
