package ${project.viewModuleConfig.packageName};

import javax.servlet.http.HttpServletRequest;

import org.apache.log4j.Logger;
import org.apache.struts2.interceptor.ServletRequestAware;
import ${project.serviceModuleConfig.packageName}.ServiceLocator;

import com.opensymphony.xwork2.Action;
import com.opensymphony.xwork2.Preparable;
import com.opensymphony.xwork2.ValidationAwareSupport;

/**
 *
 */
public abstract class GenericAction extends ValidationAwareSupport implements ServletRequestAware, Preparable {

	private static final long serialVersionUID = 1L;

#if ($isSpringServiceModule)
	protected ServiceLocator serviceLocator;
#else
	protected ServiceLocator serviceLocator = ServiceLocator.getInstance();
#end
	protected final Logger logger = Logger.getLogger(getClass());
	protected HttpServletRequest request;

#if ($isSpringServiceModule)
	public void setServiceLocator(ServiceLocator locator) {
		serviceLocator = locator;
	}
#end

	public void prepare() throws Exception {
//		clearErrorsAndMessages();
	}

	/**
	 * @param string
	 * @param e
	 * @return
	 */
	protected String handleError(String message, Exception e) {
		addActionError(message+": "+e.getMessage());
		logger.error(message, e);
		return Action.ERROR;
	}

	/**
	 * @see org.apache.struts2.interceptor.ServletRequestAware#setServletRequest(javax.servlet.http.HttpServletRequest)
	 */
	public void setServletRequest(HttpServletRequest request) {
		this.request = request;
	}
}
