<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >

<hibernate-configuration>
	<session-factory>

		<!-- Dev Only, replace this with a jdbc datasource -->
		<property name="hibernate.connection.driver_class">${project.databaseConfig.databaseDriver}</property>
		<property name="hibernate.connection.url">${project.databaseConfig.url}</property>
		<property name="hibernate.connection.username">${project.databaseConfig.username}</property>
		<property name="hibernate.connection.password">$!{project.databaseConfig.password}</property>

		<property name="hibernate.dialect">$!{hibernateSqlDialect}</property>

		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hibernate.use_sql_comments">false</property>
		<property name="hibernate.connection.autocommit">false</property>
		<property name="hibernate.connection.charSet">UTF-8</property>
		<property name="hibernate.connection.pool_size">2</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>

#foreach ($mapping in $classList)
	#if ($useAnnotations == true)
		<mapping class="$mapping" />
	#else
		<mapping resource="$mapping" />
	#end
#end

	</session-factory>
</hibernate-configuration>
