package ${project.serviceModuleConfig.packageName};

/**
 *
 */
public class ${exceptionName}ServiceException extends ServiceException {

	private static final long serialVersionUID = 1L;
	private static final String DEFAULT_MESSAGE = "${exceptionName} Error: ";
	
	/**
	 * @param message
	 * @param cause
	 */
	public ${exceptionName}ServiceException(String message, Throwable cause) {
		super(DEFAULT_MESSAGE+message, cause);
	}
	/**
	 * @param message
	 */
	public ${exceptionName}ServiceException(String message) {
		super(DEFAULT_MESSAGE+message);
	}
}
