<?xml version="1.0" encoding="ISO-8859-1" ?>
<%@ page language="java" contentType="text/html; charset=ISO-8859-1" pageEncoding="ISO-8859-1"%>
<%@ taglib prefix="s" uri="/struts-tags" %>
<%@ taglib prefix="display" uri="http://displaytag.sf.net"%>
#if ($isTiles2Engine)
<%@ taglib prefix="tiles" uri="http://tiles.apache.org/tags-tiles" %>
#end
#if ($isSiteMeshEngine)
<%@ taglib prefix="decorator" uri="http://www.opensymphony.com/sitemesh/decorator" %>
#end

<s:i18n name="lang.common">

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title><s:text name="project.name" /> - #{if} ($isTiles2Engine)<tiles:getAsString name="title"/> #{elseif} ($isSiteMeshEngine)<decorator:title /> #end
</title>
<s:head theme="css_xhtml"/>
<link rel="stylesheet" type="text/css" href="<s:url value="/common/styles.css"/>" />
</head>
<body>

	<div id="header">
		<br/>
		<s:url id="homeUrl" value="/index.jsp" />
		<s:a href="%{homeUrl}"><s:text name="project.name" /></s:a>
	</div>

	<table width="90%" border="0">
	<tr>
		<td width="30%" valign="top">
			<div id="menu">
			#foreach ($className in $classList)
			#set ($lowerClassName = "${className.toLowerCase().charAt(0)}${className.substring(1)}" )
				<s:url id="${lowerClassName}Url" action="index" namespace="/${lowerClassName}" />
				<p class="menuItem"><s:a href="%{${lowerClassName}Url}"><s:text name="menu.${lowerClassName}" /></s:a></p>
			#end
			</div>
		</td>
		<td valign="top">

			<s:if test="hasActionMessages()">
			<div id="messages">
			  <s:actionmessage />
			<p>&nbsp;</p>
			</div>
			</s:if>
			
			<s:if test="hasActionErrors()">
			<div id="messages">
			  <p class="errorMessage"><s:text name="validation.actionErrors" /></p>
			  <s:actionerror />
			<p>&nbsp;</p>
			</div>
			</s:if>
			
			<s:if test="hasFieldErrors()">
			<div id="messages">
			  <p class="errorMessage"><s:text name="validation.fieldErrors" /></p>
			  <s:fielderror />
			<p>&nbsp;</p>
			</div>
			</s:if>

#if ($isTiles2Engine)
	        <tiles:insertAttribute name="body"/>
#end
#if ($isSiteMeshEngine)
	        <decorator:body />
#end

		</td>
	</tr>
	</table>

	<div id="footer"><p><s:text name="footer" /></p></div>

</body>
</html>

</s:i18n>
