project.name=Test

home.title=Bienvenue \!

errorPage.title=Une erreur est survenue
errorPage.message=Erreur de l'application. L'administrateur a \u00E9t\u00E9 pr\u00E9venu et analyse le probl\u00E8me dans les plus brefs d\u00E9lais. Merci.

menu.categorie=Gestion des categories
menu.competence=Gestion des competences
menu.eleve=Gestion des eleves
menu.livret=Gestion des livrets
menu.matiere=Gestion des matieres
menu.note=Gestion des notes

validation.actionErrors=Erreur de validation de l''action \:
validation.fieldErrors=Erreur de validation des champs \:

footer=G\u00E9n\u00E9r\u00E9 avec <a href="http://easygen.googlecode.com">EasyGen</a>
