<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE validators PUBLIC "-//OpenSymphony Group//XWork Validator 1.0.2//EN" "http://www.opensymphony.com/xwork/xwork-validator-1.0.2.dtd">

#macro( getValidatorType $aField )
	#if ($aField.propertyShortType == "String")
		type="requiredstring"
	#elseif ($aField.propertyShortType == "Date")
		type="date"
	#elseif ($aField.propertyShortType == "Long" || $aField.propertyShortType == "Integer")
		type="int"
	#else
		type="required"
	#end
#end

#macro( writeField $aObjectVarName $aField )
<field name="${aObjectVarName}.${aField.propertyName}">
    <field-validator #getValidatorType($aField)>
        <message key="errors.required"/>
    </field-validator>
</field>
#end

#macro( writeFieldsValidation $aObject )
	#set ($objectVarName = "${aObject.className.toLowerCase().charAt(0)}${aObject.className.substring(1)}" )
	#foreach ($field in $aObject.fields)
		#if ($field.foreignKey == false)
			#writeField( $objectVarName $field )
		#elseif ($field.foreignKey == true && $field.foreignList == false)
			#set ($fkObjectVarName = "${objectVarName}.${field.foreignObject.className.toLowerCase().charAt(0)}${field.foreignObject.className.substring(1)}" )
			#foreach ($fkfield in $field.foreignObject.fields)
				#if ($fkfield.primaryKey == true)
					#writeField( ${fkObjectVarName} $fkfield )
				#end
			#end
		#end
	#end
#end

<validators>

#writeFieldsValidation( $object )

</validators>
