<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    default-autowire="no"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

#foreach ($objectClassName in $classList)
#set ($fullClassName = "${project.viewModuleConfig.packageName}.${objectClassName}Action")
#set ($lowerClassName = "${objectClassName.toLowerCase().charAt(0)}${objectClassName.substring(1)}" )
	<bean id="${lowerClassName}Action" class="${fullClassName}" scope="prototype">
	#if ($isSpringServiceModule)
		<property name="serviceLocator"><ref bean="serviceLocator" /></property>
	#end
	</bean>

#end
</beans>
