#set ($objectVarName = "${object.className.toLowerCase().charAt(0)}${object.className.substring(1)}" )
#set ($textFieldSize = "30")

<?xml version="1.0" encoding="ISO-8859-1" ?>
<%@ page language="java" contentType="text/html; charset=ISO-8859-1" pageEncoding="ISO-8859-1"%>
<%@ taglib prefix="s" uri="/struts-tags" %>

#if ($isTiles2Engine)
<%@ taglib prefix="tiles" uri="http://tiles.apache.org/tags-tiles" %>
<tiles:insertDefinition name="mainLayout">
  <tiles:putAttribute name="title" value="Ajout d'un objet ${object.className}" />
  <tiles:putAttribute name="body">
#end
#if ($isSiteMeshEngine)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ajout d'un objet ${object.className}</title>
</head>
<body>
#end

<fieldset title="Ajout">
<legend><b>Ajout d'un objet ${objectVarName}</b></legend>
<s:form action="add" method="post" validate="true">
<table>
#foreach ($aField in $object.fields)
#if ($aField.primaryKey == false)
	#if ($aField.foreignKey == false)
	<tr>
		<td width="40%">$stringutils.capitalizeFirstLetter(${aField.propertyName})</td>
		<td>
		#if ($aField.propertyShortType == "Date")
			<s:datetimepicker name="${objectVarName}.${aField.propertyName}"
		#else
  			<s:textfield name="${objectVarName}.${aField.propertyName}" size="${textFieldSize}"
  		#end
  		#if ($aField.nullable == false)
  			required="true"
  		#end
  			/></td>
	</tr>
  	#end
  	#if ($aField.foreignKey == true && $aField.foreignList == false)
	<tr>
		<td width="40%">$stringutils.capitalizeFirstLetter(${aField.propertyName})</td>
		<td>
  		#foreach ($foreignField in $aField.foreignObject.fields)
  			#if ($foreignField.primaryKey == true)
			 	<s:select
					name="${objectVarName}.${aField.propertyName}.${foreignField.propertyName}"
					list="%{#request.${aField.propertyName}s}"
					listKey="${foreignField.propertyName}"
					multiple="false"
		  		#if ($aField.nullable == false)
		  			required="true"
		  		#end
				/>
	  		#end
		#end
		</td>
	</tr>
	#end
#end
#end
</table>
  <s:submit value="Enregistrer"/>
</s:form>
</fieldset>

<p class="spacer">&nbsp;</p>
<s:url id="listUrl" action="index" />
<s:a href="%{listUrl}" cssClass="commandLink">Retour &agrave; la liste</s:a>

#if ($isTiles2Engine)
  </tiles:putAttribute>
</tiles:insertDefinition>
#elseif ($isSiteMeshEngine)
</body>
</html>
#end
