<?xml version="1.0" encoding="ISO-8859-1" ?>
<%@ page language="java" contentType="text/html; charset=ISO-8859-1" pageEncoding="ISO-8859-1"%>
<%@ taglib prefix="s" uri="/struts-tags" %>

#if ($isTiles2Engine)
<%@ taglib prefix="tiles" uri="http://tiles.apache.org/tags-tiles" %>
<tiles:insertDefinition name="mainLayout">
  <tiles:putAttribute name="title" value="Welcome" />
  <tiles:putAttribute name="body">
#end
#if ($isSiteMeshEngine)
<html>
<head>
<title>Welcome</title>
</head>
<body>
#end

	<h2>Welcome !</h2>

#if ($isTiles2Engine)
  </tiles:putAttribute>
</tiles:insertDefinition>
#end
#if ($isSiteMeshEngine)
</body>
</html>
#end
