#set ($objectVarName = "${object.className.toLowerCase().charAt(0)}${object.className.substring(1)}" )

#macro( showForeignObjectHeader $aObject )
	#foreach ($anotherField in $aObject.fields)
		#if ($anotherField.foreignKey == true && $anotherField.foreignList == false)
	    	<th>$stringutils.capitalizeFirstLetter($anotherField.propertyName)</th>
			#showForeignObjectHeader( $anotherField.foreignObject )
	    #end
	#end
#end

#macro( showForeignObject $anotherObject )
	#foreach ($anotherField in $anotherObject.fields)
		#if ($anotherField.foreignKey == true && $anotherField.foreignList == false)
    		<td><s:property value="${aField.propertyName}"/></td>
			#showForeignObject( $anotherField.foreignObject )
	    #end
	#end
#end

<?xml version="1.0" encoding="ISO-8859-1" ?>
<%@ page language="java" contentType="text/html; charset=ISO-8859-1" pageEncoding="ISO-8859-1"%>
<%@ taglib prefix="s" uri="/struts-tags" %>
<%@ taglib prefix="display" uri="http://displaytag.sf.net"%>
#if ($isTiles2Engine)
<%@ taglib prefix="tiles" uri="http://tiles.apache.org/tags-tiles" %>

<tiles:insertDefinition name="mainLayout">
  <tiles:putAttribute name="title" value="Liste des ${objectVarName}s" />
  <tiles:putAttribute name="body">
#end
#if ($isSiteMeshEngine)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Liste des ${objectVarName}s</title>
</head>
<body>
#end

<script type="text/javascript">
<!--
	function confirmDelete(id)
	{
		return confirm("Voulez-vous vraiment supprimer l'objet ayant pour id: "+id);
	}
//-->
</script>

<s:url id="prepareaddUrl" action="prepareadd" />
<p><s:a href="%{prepareaddUrl}" cssClass="commandLink">Ajouter un objet ${objectVarName}</s:a></p>

<fieldset title="Recherche">
<legend><b>Recherche d'un objet ${objectVarName}</b></legend>
<s:form action="search" method="post" validate="false">
#foreach ($aField in $object.fields)
#if ($aField.primaryKey == false)
	#if ($aField.foreignKey == false)
		#if ($aField.propertyShortType == "Date")
		<s:datetimepicker label="${aField.propertyName}" name="${objectVarName}.${aField.propertyName}" />
		#else
  		<s:textfield label="${aField.propertyName}" name="${objectVarName}.${aField.propertyName}" size="${textFieldSize}" />
  		#end
  	#end
#end
#end
#foreach ($aField in $object.fields)
#if ($aField.primaryKey == false)
  	#if ($aField.foreignKey == true && $aField.foreignList == false)
  		#foreach ($foreignField in $aField.foreignObject.fields)
  			#if ($foreignField.primaryKey == true)
			 	<s:select label="${aField.propertyName}"
					name="${objectVarName}.${aField.propertyName}.${foreignField.propertyName}"
					list="%{#request.${aField.propertyName}s}"
					listKey="${foreignField.propertyName}"
					multiple="false" emptyOption="true"
				/>
	  		#end
		#end
	#end
#end
#end	
  <s:submit value="Rechercher"/>
</s:form>
</fieldset>

<p class="pageTitle">Liste des ${objectVarName}s</p>
<display:table name="${objectVarName}s" class="results" uid="${objectVarName}">
#foreach ($aField in $object.fields)
	#if ($aField.primaryKey == true)
	<display:column title="$stringutils.capitalizeFirstLetter($aField.propertyName)" style="text-align:center;">
		<s:url id="editUrl" action="edit">
			<s:param name="${aField.propertyName}" value="${${objectVarName}.${aField.propertyName}}" />
		</s:url>
		<s:a href="%{editUrl}" cssClass="commandLink">${${objectVarName}.${aField.propertyName}}</s:a>
	</display:column>
    #end
#end
#foreach ($aField in $object.fields)
	#if ($aField.primaryKey == false && $aField.foreignKey == false)
	<display:column title="$stringutils.capitalizeFirstLetter($aField.propertyName)" property="${aField.propertyName}" />
    #end
#end
#foreach ($aField in $object.fields)
	#if ($aField.primaryKey == false && $aField.foreignKey == true && $aField.foreignList == false)
	<display:column title="$stringutils.capitalizeFirstLetter($aField.propertyName)" property="${aField.propertyName}" />
    #end
#end
#foreach ($aField in $object.fields)
	#if ($aField.primaryKey == true)
	<display:column style="text-align:center;">
		<s:url id="deleteUrl" action="delete">
			<s:param name="${aField.propertyName}" value="${${objectVarName}.${aField.propertyName}}" />
		</s:url>
		<s:a href="%{deleteUrl}" cssClass="commandLink"
			onclick="return confirmDelete(${${objectVarName}.${aField.propertyName}});">Supprimer</s:a>
	</display:column>
    #end
#end
</display:table>
<p align="center">Found <s:property value="%{#request.resultCount}" /> matiere(s)</p>

#if ($isTiles2Engine)
  </tiles:putAttribute>
</tiles:insertDefinition>
#end
#if ($isSiteMeshEngine)
</body>
</html>
#end
