package ${project.viewModuleConfig.packageName};

import org.apache.log4j.Logger;
import org.apache.wicket.markup.html.form.Form;

public class BaseForm extends Form {
	
	private static final long serialVersionUID = 1L;
	
	protected transient final Logger logger = Logger.getLogger(getClass());

	public BaseForm(String id) {
		super(id);
	}
}
