#set ($objectVarName = "${object.className.toLowerCase().charAt(0)}${object.className.substring(1)}" )
#set ($textFieldSize = "30")

<%@ taglib prefix="s" uri="/struts-tags" %>

#if ($isTiles2Engine)
<%@ taglib prefix="tiles" uri="http://tiles.apache.org/tags-tiles" %>
<tiles:insertDefinition name="mainLayout">
  <tiles:putAttribute name="title" value="Edition d'un objet ${object.className}" />
  <tiles:putAttribute name="body">
#end
#if ($isSiteMeshEngine)
<%@ taglib uri="http://www.opensymphony.com/sitemesh/decorator" prefix="decorator" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Edition d'un objet ${object.className}</title>
</head>
<body>
#end

<fieldset title="Edit">
<legend><b>Edition d'un objet ${objectVarName}</b></legend>
<s:form action="update" method="post" validate="true">
#foreach ($aField in $object.fields)
#if ($aField.primaryKey == false)
	#if ($aField.foreignKey == false)
		#if ($aField.propertyShortType == "Date")
		<s:datetimepicker label="${aField.propertyName}" name="${objectVarName}.${aField.propertyName}"
		#else
  		<s:textfield label="${aField.propertyName}" name="${objectVarName}.${aField.propertyName}" size="${textFieldSize}"
  		#end
  		#if ($aField.nullable == false)
  			required="true"
  		#end
  		/>
  	#end
#end
#end
#foreach ($aField in $object.fields)
#if ($aField.primaryKey == false)
  	#if ($aField.foreignKey == true && $aField.foreignList == false)
  		#foreach ($foreignField in $aField.foreignObject.fields)
  			#if ($foreignField.primaryKey == true)
			 	<s:select label="${aField.propertyName}"
					name="${objectVarName}.${aField.propertyName}.${foreignField.propertyName}"
					list="%{#request.${aField.propertyName}s}"
					listKey="${foreignField.propertyName}"
					multiple="false"
		  		#if ($aField.nullable == false)
		  			required="true"
		  		#end
				/>
	  		#end
		#end
	#end
#else
  <s:hidden name="${objectVarName}.${aField.propertyName}" />
  <s:label label="${aField.propertyName}" name="${objectVarName}.${aField.propertyName}" />
#end
#end	
  <s:submit value="Enregistrer"/>
</s:form>
</fieldset>

<p class="spacer">&nbsp;</p>
<s:url id="listUrl" action="index" />
<s:a href="%{listUrl}" cssClass="commandLink">Retour &agrave; la liste</s:a>

#if ($isTiles2Engine)
  </tiles:putAttribute>
</tiles:insertDefinition>
#end
#if ($isSiteMeshEngine)
</body>
</html>
#end
