<?xml version="1.0" encoding="ISO-8859-1" ?>
<%@ page language="java" contentType="text/html; charset=ISO-8859-1" pageEncoding="ISO-8859-1"%>
<%@ page isErrorPage="true" %>
<%@ taglib prefix="s" uri="/struts-tags" %>

#if ($isTiles2Engine)
<%@ taglib prefix="tiles" uri="http://tiles.apache.org/tags-tiles" %>
<tiles:insertDefinition name="mainLayout">
  <tiles:putAttribute name="title" value="Erreur lors de l'ex&eacute;cution de la requ&ecirc;te" />
  <tiles:putAttribute name="body">
#end
#if ($isSiteMeshEngine)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Erreur lors de l'ex&eacute;cution de la requ&ecirc;te</title>
</head>
<body>
#end

<font color="red">
Erreur de l'application. L'administrateur a été prévenu et analyse le problème dans les plus brefs délais. Merci.
<br/><br/>

#if ($isTiles2Engine)
  </tiles:putAttribute>
</tiles:insertDefinition>
#end
#if ($isSiteMeshEngine)
</body>
</html>
#end
