#set ($objectVarName = "${object.className.toLowerCase().charAt(0)}${object.className.substring(1)}" )

# Fields Labels
#foreach ($aField in $object.fields)
${aField.propertyName}=$stringutils.capitalizeFirstLetter(${aField.propertyName})
#end

# Common Labels
backToListLink=Back to list

# Page specific labels
list.title=${object.className} list
list.searchTitle=${object.className} search
list.searchAdvice=You can use % as wildcard
list.confirmDelete=Do you really want to delete it ?
list.addLink=Add a ${objectVarName}
list.deleteLink=Delete
list.searchLink=Search
list.resultCount=Found {0} ${objectVarName}(s)

add.title=Add a ${objectVarName}
add.submitLink=Save

edit.title=Editing a ${objectVarName}
edit.submitLink=Save

view.title=${object.className}a Object
view.submitLink=Edit
